.pageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(235deg, #38a3a5, #90dbf4 ); 
  font-family: 'Public Sans', sans-serif;
}
.p-container{
  display: flex;
  min-height: 400px;
  width: 80%;
}

.form-container {
  background: #08B880;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 60px;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  font-size: 55px;
  font-weight: 800;
  color: white;
  margin-bottom: 5rem;
}

input[type="file"] {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #6b6b6b;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
  width: 100%;
}

input[type="file"]:hover {
  border-color: #6822ff;
  background-color: #f3f3ff;
  cursor: pointer;
}

.form-container button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 25px;
  background: #fd8a00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background: linear-gradient(135deg, #5b1edc, #7738e4);
}

button:disabled {
  background: #e5e5e5;
  color: #9c9c9c;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
}
