.dboard-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa, #ebebeb);
  font-family: 'Public Sans', sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.dboard-title {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

.dboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; 
  width: 90%;
  height: 80vh;
  background: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.chart-item {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.figure{
  color: #8884d8;
  font-size: 25px;
  font-weight: 700;
}
.kpi h3 {
  font-weight: 800;
  color: #515a5a;
  font-size: 25px;
}
.kpi{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.chart-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.more-upload{
  border-radius: 7px;
  background: #6822ff;
  margin-top: 1rem;
  color: white;
  padding: 7px;
  font-weight: 700;
}

